node_modules
.env
*.log
unknown-*.json
!unknown-250.json
!unknown-250-beta.json
!unknown-250-mock-live.json
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# sol2uml
DebugStorageSlots.svg

# exposed to tests
contracts-exposed