node_modules
.env
*.log
unknown-*.json
# sonic blaze
!unknown-57054
# sonic
!unknown-146
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# sol2uml
DebugStorageSlots.svg

# dist
dist
