{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {}
    },
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "trailingComma": "es5",
        "explicitTypes": "preserve"
      }
    },
    {
      "files": "*.json",
      "options": {
        "explicitTypes": "preserve"
      }
    }
  ]
}
