{
  "plugins": ["prettier-plugin-solidity"],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {}
    },
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "semi": false,
        "trailingComma": "es5"
      }
    }
  ]
}
