name: CI
on:
  push:
    branches:
      - main
      - beta
      - sonic
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  Hardhat:
    runs-on: ubuntu-latest
    env:
      # These are just dummy values to prevent hardhat complaining about config issues
      SONIC_RPC: NA
      SONIC_BLAZE_RPC: NA
      FANTOM_RPC: NA
      PRIVATE_KEY: "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
      PRIVATE_KEY1: "0xa0610ad18a7a793b0d2c12d28d74ccc8d90a422514db2e4cea3a9eaec7215ad3"
      IS_BETA: true
      HARDHAT_USE_PRIVATE_KEY: false
      CHAIN_ID: 31337
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install packages
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
        shell: bash
      - name: Deploy
        run: pnpm run deploy
      - name: Tests
        run: pnpm test
